.DS_Store
ch1/ex1/ex1
ch1/ex2/ex2
ch1/ex4/ex4
ch1/ex5/anim.gif
ch1/ex5/ex5
ch1/ex6/anim.gif
ch1/ex6/ex6
ch1/ex7/ex7
ch1/ex8/ex8
ch1/ex9/ex9
ch2/ex2/ex2
ch3/ch3
ch3/ex1/ex1
*.svg
ch3/ex3/ex3
ch3/ex4/ex4
ch3/mandelbrot/mandelbrot
ch3/ex5/ex5
*.png
ch3/ex6/ex6
ch4/ex2/ex2
ch4/ex3/ex3
ch4/ex4/ex4
ch4/ex8/ex8
ch4/ex8/ex8
ch4/ex9/ex9
